@use "./shared/variables" as *;


.endPage {
    display: flex;
    justify-content: center;
    align-items: center;
    .finalContent {
       display: flex;
       justify-content: center;
        top: 50vh;
        background-color: white;
        border-radius: 50px;
        width: 50%;
        height: 75%;
        min-width: fit-content;
        min-height: fit-content;
    
        .restart {
            margin-bottom: 50px;
            width: 50%;
            min-width: fit-content;
            padding: 0 20px;
        }

        .contentContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 60px;
        }
    }
}
