$lightOrange: #ffeadb;
$medOrange: #ffd2b5;
$teal: #679b9b;
$darkTeal: #637373;
$darkOrange: #ff9a76;
$darkBrown:#503f39;
$lightTeal: #a5b7b8;
$veryDarkTeal: #1b2424;
$lightGray: #d3d8d8;
$correct: #89c2a0;
$incorrect: #ff8676;